.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.list-style {
  list-style-type: none;
  margin: 15px;
  border-radius: 8px;
  padding: 20px;
  border-width: 1px;
  border-color: #cbced2;
  border-style: solid;
}
.heading-style {
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 600;
  color: #326a9d;
}
.paragraph-style {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 400;
  color: #64748b;
}
.button-style {
  height: 30px;
  width: 120px;
  border-color: #326a9d;
  border-width: 2px;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  color: #326a9d;
  border-radius: 8px;
}
